.carousel-container {
  width: 100%;
  height: 407px;
  position: relative;
}

.carousel-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel-feature {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 2s ease, opacity 2s ease;
  will-change: transform;
}
.carousel-feature img {
  width: 150px;
  transition: all 2s;
}
/* CENTER */
.carousel-feature {
  transform: translate(unset);
  z-index: 3;
  opacity: 1;
  overflow: hidden;
}
.carousel-feature.center {
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 1;
}
.carousel-feature.center img{
    width: 350px;
}
/* LEFT */
.carousel-feature.left {
  transform: translate(-200%, -50%);
  z-index: 2;
  filter: blur(2px);
}

/* RIGHT */
.carousel-feature.right {
  transform: translate(100%, -50%) ;
  z-index: 2;
  filter: blur(2px);
}
.carousel-feature.offscreen {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) ;
}
/* HIDDEN */
.carousel-feature.hidden {
  opacity: 0;
  pointer-events: none;
}
.scan {
    position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  /* background: #A64CE8;  */
  display: none;
  pointer-events: none;
}
.carousel-feature.center .scan {
    display: flex;
    animation: scanTopToBottom 3s ease-in-out forwards;
    animation-delay: 2s;
}
@keyframes scanTopToBottom {
  0% {
    top: -40px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: calc(100% - 20px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -40px;
    opacity: 0;
  }
}