.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: 9999;
}
.header-menu {
    gap: 26px;
}
.header-menu.navbar-nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #1E1C26;
    padding: 0 !important;
}
.header-menu.navbar-nav a.active {
    color: #3E6EB4;
}
header.header.header-scrolled {
    top: 0;
    backdrop-filter: blur(10px);
}